%h1== Results for saved search ##{@saved_search.id}:
%ul
  %li== query: #{@saved_search.query}
  %li== make: #{@saved_search.make}
  %li== max price: #{@saved_search.max_price}
  %li== min price: #{@saved_search.min_price}

%h7== total listings matching search criteria: #{@search_results.total_matching_listings}

%br

%table
  %thead
    %tr
      %th Photos
      %th Title
      %th Price
      %th Shipping
      %th Offers?
      %th Make
      %th Model
      %th Condition

  %tbody
    - @search_results.listings.each do |listing|
      %tr
        %td
          - listing.display_photos.each do |photo|
            = link_to((image_tag photo, width:"100"), listing.web_url, target: "_blank")
        %td= link_to(listing.title, listing.web_url, target: "_blank")
        %td= listing.display_price
        %td= listing.display_shipping
        %td= listing.offers_enabled
        %td= listing.make
        %td= listing.model
        %td{class: listing.condition_color}= listing.condition
