%table
  %thead
    %tr
      %th Query String
      %th Make
      %th Price
      %th Last Updated
      %th
      %th

  %tbody
    - saved_searches.each do |saved_search|
      %tr
        %td
          %h5= saved_search.query
        %td= saved_search.make
        %td
          %h5== $#{saved_search.min_price} - #{saved_search.max_price}

        %td= link_to 'Edit', edit_saved_search_path(saved_search), class: 'button small primary'
        %td= link_to 'Destroy', saved_search_path(saved_search), method: :delete, data: { :confirm => 'Are you sure?' }, class: 'button small warning'
        %td= link_to 'View', listing_result_path(saved_search), class: 'button small danger'

