%h1 Saved Searches

%table
  %thead
    %tr
      %th Query String
      %th Make
      %th Minimum Price
      %th Maximum Price
      %th
      %th
      %th

  %tbody
    - @searches.each do |search|
      %tr
        %td= search.query
        %td= search.make
        %td= search.min_price
        %td= search.max_price

        %td= link_to 'Edit', edit_search_path(search), class: 'button small primary'
        %td= link_to 'Destroy', search, method: :delete, data: { :confirm => 'Are you sure?' }, class: 'button small warning'

%h3 Create New Search
= render 'form', search: @search || Search.new
